<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>타임리프 익히기</h1>
<!-- LocalData를 yyyy-MM-dd 포멧으로 변경-->
<p th:text="${temporals.format(today, 'yyyy-MM-dd')}"></p>
<div th:object="${person}"><!--person을 선택한 객체로 지정-->
    <p th:text="|이름 : *{name}|"></p>
    <p th:text="|나이 : *{age}|"></p>
    <p>취미</p>
    <ul th:each="hobby : *{hobbies}"><!-- hobbies 개수만큼 반복 -->
        <li th:text="${hobby}"></li>
        <!-- 반복 대상이 운동이라면 '대표 취미' 라는 표시 추가-->
        <span th:if="${hobby == '운동'}">(대표취미)</span>
    </ul>
</div>
<!-- 1번 블로그 글 보러 이동-->
<a th:href="@{/api/articles/{id}(id=${person.id})}">글보기</a>
</body>
</html>